:root {
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}

.header-logo {
  color: var(--logo-header-color);
}

.footer-logo {
  color: var(--logo-footer-color);
}

.accent {
  color: var(--accent-color);
}

.header-list .header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
}

.header-list .header-link.current {
  color: var(--accent-color);
}

.header-list .header-link:hover,
.header-list .header-link:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.contacts a {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.title-hero {
  color: #ffffff;
  background-color: #2f303a;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.title-features {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.title-services {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.team-names {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.team-position {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-list .footer-link {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.footer-list .footer-link:hover,
.footer-list .footer-link:focus {
  color: #2196f3;
}

.list .filter-button {
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.list .filter-button:hover,
.list .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.title-project {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.text-project {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

.footer {
  background-color: #2f303a;
}
